* {
  all: unset;
}

window {
    background: #282c34;
    color: #dfdfdf;
    font-size: 14px;
    font-family: Ubuntu;
    font-weight: 900;
    & > * {
      margin: 3px;
    }
  }

.time-doom {
    font-size: 44;
    color: #c678dd;
    // margin-top: -40;
}

.date-doom {
    font-size: 24;
    color: #c678dd;
    // margin-top: -140;
}

.time-powerline {
    font-size: 44;
    color: #578cb8; // #51afef #409ece #308dcd #207cbc
    // margin-top: -40;
}

.date-powerline {
    font-size: 24;
    color: #dfdfdf;
    // margin-top: -140;
}

// POWERLINE WIDGETS

.kernel {
    font-size: 18;
    color: #dfdfdf; // #aabfc9
}
.uptime {
    font-size: 18;
    color: #dfdfdf; // #aabfc9 
}
.disk {
    font-size: 18;
    color: #dfdfdf; // #aabfc9 
}
.Infolabel {
    font-size: 18;
    color: #79aede; // #689db8
}

// DOOM WIDGETS

.kernel-doom {
    font-size: 18;
    color: #46d9ff;
}
.uptime-doom {
    font-size: 18;
    color: #46d9ff;
}
.disk-doom {
    font-size: 18;
    color: #46d9ff;
}
.Infolabel-doom {
    font-size: 18;
    color: #98be65;
}


.keys-title{
    font-size: 15;
    // margin-top: -200; // -300 or -330
    // margin-bottom: -100; 
}

.keys1{
    // margin-top: -240;
}

.keys2{
    // margin-top: -180;
}

.keys3{
    // margin-left: -8; // -12
    // margin-top: -190; // -85
}

.keys1-right {
    color: #51afef;
}

.keys2-right {
    color: #51afef;
}

.keys3-right {
    color: #51afef;
}



