[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Feh
Comment=
Exec=feh --bg-fill --randomize /home/shatterstone/wallpapers
TryExec=feh --bg-fill --randomize /home/shatterstone/wallpapers
StartupNotify=false
X-GNOME-Autostart-enabled=true
Terminal=false
Hidden=true
