* {
    border: none;
    border-radius: 0;
    /* font-family: Ubuntu Mono Bold, Roboto, Helvetica, Arial, sans-serif; */
    font-family: Ubuntu;
    font-weight: 900;
    font-size: 14px;
    min-height: 20px;
}

window#waybar {
    background: #282a36;
    /* border-bottom: 3px solid rgba(100, 114, 125, 0.5); */
    /* color: white; */
}

/* tooltip {
  background: rgba(43, 48, 59, 0.5);
}
tooltip label {
  color: white;
} */
/*#workspaces {
    padding: 0 1px;
    background: transparent;
    color: #889fa7;
    border-bottom: 2px solid transparent;
} */

#custom-left-arrow-light-1st {
	color: #467b96;
    background: #282c34;
}

#custom-left-arrow-light {
	color: #467b96;
    background: #889fa7;
}

#custom-left-arrow-light2 {
	color: #889fa7;
    background: #467b96;
}


#workspaces button {
    padding: 0 4px;
    background: transparent;
    color: #dfdfdf;
    border-bottom: 2px solid transparent;
} 

#workspaces button.hidden {
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

#workspaces button.persistent {
    background: transparent;
    color: #696969;
    border-bottom: 2px solid transparent;
}

#workspaces button.visible {
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

#workspaces button.urgent {
    background: transparent;
    color: #889fa7;
    border-bottom: 2px solid transparent;
}

#workspaces button.active {
    background: #1c1f24; /*either transparent or #1c1f24 */
    color: #dfdfdf; 
    border-bottom: 2px solid #ff79c6;
}

#workspaces button.focused {
    background: transparent;
    color: #dfdfdf; 
    border-bottom: 2px solid #ff79c6;
}


#tags button {
    padding: 0 2px;
    background: transparent;
    color: #889fa7;
    border-bottom: 2px solid transparent;
}

/* IMPORTANT: for focused rules to apply over occupied rules,
 the focused tags styling needs to be written after the occupied tag rules */

#tags button.occupied {
    background: transparent;
    color: #dfdfdf;
    border-bottom: 2px solid transparent;
}

#tags button.focused {
    background: transparent;
    color: #dfdfdf; 
    border-bottom: 2px solid #ff79c6;
}


#tags button.urgent {
    background: transparent;
    color: #889fa7;
    border-bottom: 2px solid transparent;
}

#custom-separator {
    color: #666666;
    margin: 0 0px;
}

#tray {
    background: transparent;
    margin: 0 5px;
}

/* #mode, #clock, #battery {
    padding: 0 10px;
} */

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#window {
    background: transparent;
    color: #ff79c6;
    margin: 0 5px;
}

#clock {
    background-color: transparent;
    color: #f1fa8c;
    border-bottom: 2px solid #f1fa8c;
}

#cpu {
    background-color: transparent;
    color: #50fa7b;
    border-bottom: 2px solid #50fa7b;
}

#backlight {
    background-color: transparent;
    color: #8be9fd;
    border-bottom: 2px solid #8be9fd;
}

#temperature {
    background-color: transparent;
    color: #bd93f9;
    border-bottom: 2px solid #bd93f9;
}

#memory {
    background-color: transparent;
    color: #ff5555;
    border-bottom: 2px solid #ff5555;
}

#pulseaudio {
    background-color: transparent;
    color: #ff79c6;
    border-bottom: 2px solid #ff79c6;
}

#wireplumber {
    background-color: transparent;
    color: #ff79c6;
    border-bottom: 2px solid #ff79c6;
}

#battery {
    background-color: transparent;
    color: #ffb86c;
    border-bottom: 2px solid #ffb86c;
}

#battery.charging {
    color: #26A65B;
    background-color: transparent;
    border-bottom: 2px solid #26A65B;
}

#image{
    padding-left: 5px;
    padding-right: 5px;
}
