window {
margin: 0px;
border: none;
background-color: #000000;
}

#input {
margin: 0px;
border: none;
background-color: #000000;
color: #dfdfdf;
}

#input > image.left {
    -gtk-icon-transform:scaleX(0);
}

#inner-box {
margin: 0px;
border: none;
background-color: #000000;
}

#outer-box {
margin: 0px;
height: 0px;
border: none;
background-color: #000000;
}

#scrollbar {
margin: 0px;
height: 0px;
width: 0px;
border: none;
background-color: #000000;
}

#scroll {
margin: 0px;
height: 0px;
width: 0px;
border: none;
background-color: #000000;
}


#text {
margin: 0px;
border: none;
color: #dfdfdf;
}

#entry:selected {
background-color: #467b96;
}
