* {

    /* height: 15; */
    /* border: none; */
    /* border-radius: 0; */
    /* border-top: 20px solid #467b96; */
    
    /* font-family: Ubuntu Mono Bold, Roboto, Helvetica, Arial, sans-serif; */
    font-family: Ubuntu;
    font-style: normal;
    /*font-weight: bold; */
    font-weight: bold;
    font-size: 14px;
    min-height: 22px;
    padding: 0;
    margin: 0;
}

window#waybar {
    background: #282c34;
}

/* Powerline effect using gradients */
#custom-plsep1 {
    background: linear-gradient(135deg, #282c34 50%, #467b96 50%) no-repeat;
    margin-left: 0px;
    padding-left: 12px;
    margin-right: 0px;
    padding-right: 12px;
}

#custom-plsep2 {
    background: linear-gradient(135deg, #467b96 50%, #889fa7 50%) no-repeat;
    margin-left: 0px;
    padding-left: 12px;
    margin-right: 0px;
    padding-right: 12px;
}

#custom-plsep3 {
    background: linear-gradient(135deg, #889fa7 50%, #467b96 50%) no-repeat;
    margin-left: 0px;
    padding-left: 12px;
    margin-right: 0px;
    padding-right: 12px;
}
#custom-left-arrow-light-1st {
    font-family: Ubuntu;
    font-weight: 900;
    font-size: 40px;
    color: #467b96;
    background: #282c34;
    margin: -17px -5px -25px -5px;
}

#custom-left-arrow-light {
    font-family: Ubuntu;
    font-weight: 900;
    font-size: 40px;
    color: #467b96;
    background: #889fa7;
    margin: -17px -5px -25px -5px;
}

#custom-left-arrow-light2 {
    font-family: Ubuntu;
    font-weight: 900;
    font-size: 40px;
    color: #889fa7;
    background: #467b96;
    margin: -17px -5px -25px -5px;
}

#workspaces {
    background: #282c34;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 0px;
    padding-bottom: 0px;
    /*border-radius: 180px;*/
    margin: -2px 5px -2px 0px;

}

#workspaces button {
    all: unset;
    /*padding: 0 2px;*/
    padding-left: 9px;
    padding-right: 9px;
    padding-top: 0px;
    padding-bottom: 0px;
    font-size: 13px;
    background: transparent;
    margin-bottom: -2px;
    border-bottom: 4px solid transparent;
} 

/* irrelevant in hyprland*/
#workspaces button.hidden {
    background: transparent;
    font-size: 13px;
    color: #ffffff;
    margin-bottom: -2px;
    border-bottom: 4px solid transparent;
}

/*defines empty workspaces*/
#workspaces button.empty {
    background: transparent;
    font-size: 13px;
    color: #696969;
    margin-bottom: -2px;
    border-bottom: 4px solid transparent;
}

/*defines persistent workspaces; if a workspace is persistent but not empty,
 it will highlight it aka it acts the way visible is supposed to*/
#workspaces button.persistent {
    background: transparent;
    font-size: 13px;
    color: #ffffff;
    margin-bottom: -2px;
    border-bottom: 4px solid transparent;
}

#workspaces button.visible {
    background: transparent;
    color: #ffffff;
    border-bottom: 2px solid transparent;
}

/*defines empty workspaces*/
#workspaces button.empty {
    background: transparent;
    font-size: 13px;
    color: #696969;
    margin-bottom: -2px;
    border-bottom: 4px solid transparent;
}

#workspaces button.urgent {
    background: transparent;
    font-size: 13px;
    color: #ff6c6b;
    margin-bottom: -2px;
    border-bottom: 4px solid transparent;
}

#workspaces button.active {
    background: #1c1f24; /*either transparent or #1c1f24 */
    font-size: 13px;
    /*color: #dfdfdf; */
    margin-bottom: -2px;
    margin-top: 2px;
    border-bottom: 6px solid #51afef;
}

#workspaces button.focused {
    background: #1c1f24; /*either transparent or #1c1f24 */
    font-size: 13px;
    /*color: #dfdfdf; */
    margin-bottom: -2px;
    margin-top: 2px;
    border-bottom: 6px solid #51afef;
}

#tags {

    background: #282c34;
    padding-left: 5px;
    padding-right: 5px;
    /*border-radius: 90px;*/
    margin: 0 5px 0 5px;

}


#tags button {
    padding: 0 1px;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 12px;
    background: transparent;
    color: #696969;
    border-bottom: 2px solid transparent;
}

/* IMPORTANT: for focused rules to apply over occupied rules,
 the focused tags styling needs to be written after the occupied tag rules */

#tags button.occupied {
    font-size: 12px;
    background: transparent;
    color: #dfdfdf;
    border-bottom: 2px solid transparent;
}

#tags button.focused {
    font-size: 12px;
    background: transparent;
    /*color: #dfdfdf; */
    border-bottom: 2px solid #51afef;
}


#tags button.urgent {
    font-size: 12px;
    background: transparent;
    color: #889fa7;
    border-bottom: 2px solid transparent;
}

#tray {
    background: #282c34;
    margin: 0 5px;
    padding-left: 5px;
    padding-right: 5px;
    /*border-radius: 90px;*/
    margin: 0 5px 0 5px;
}

#mode {
    background: #64727D;
    border-bottom: 3px solid white;
}

#window {
    /*background: transparent;
    color: #51afef;
    margin: 0 5px; */
    color: #51afef;
    background: #282c34;
    /*padding-left: 8px;*/
    /*padding-right: 8px;*/
    /*border-radius: 90px;*/
    /*margin: 0 5px 0 5px;*/
}

/* make window module transparent when no windows present */
window#waybar.empty #window {
    background-color: transparent;
    color: #51afef;
}

#battery.critical {
    background-color: #467b96;
    color: #ff0000;
}

#backlight, #battery, #battery.charging, #temperature, #clock {
    background-color: #467b96;
    color: #dfdfdf;
}

#cpu, #wireplumber, #custom-memsh {
    background-color: #889fa7;
    color: #282c34;
}

#battery.critical {
    background-color: #467b96;
    color: #ff0000;
}

#image.layout{
    padding-left: 5px;
    padding-right: 5px;
}

#image.nixos-logo{
    padding-left: 5px;
    padding-right: 5px;
    border-left: 5px solid #282c34;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

#image.wayland-logo{
    padding-left: 5px;
    padding-right: 5px;
    border-left: 5px solid #282c34;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

#image.arch-logo{
    padding-left: 5px;
    padding-right: 5px;
    border-left: 5px solid #282c34;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

#image.fedora-logo{
    padding-left: 3px;
    padding-right: 3px;
    border-left: 5px solid #282c34;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px; 
}

/* #image.wayland-logo{
    padding-left: 5px;
    padding-right: 5px;
} */
